

.primaryModal{
    display:flex;
    height: 250px;
    width: 250px;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 35%;
    margin-right: 90%;
   background-color:#131d29;
   
   border-radius: 20px 20px 20px 20px;
    
}

.titleModal{
    font-size: 17px;
    background-color: #162433 ;
    color: cadetblue;
    height: 100%;
}
.modalBody{
    background-color: #162433 ;
    height: 100%;
}
.imgResponsive{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
.footer{
    background-color: #162433
}   
}